<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nport | @ViewBag.Title</title>
    @Styles.Render( "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )
    <link href="~/Content/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
        <header>
            <h1>World news</h1>
            <span>The best minimalistic news portal in Ukrane</span>
        </header>

        <div class="main">
                <div class="body-content">
                    @RenderBody()
                </div>

                <nav class="menu">
                    <h1>MENU</h1>
                    <ul class="left">
                        <li>@Html.RouteLink( "Home page", "Home" )</li>
                        <li>@Html.RouteLink( "About project", "About us" )</li>
                        <li>@Html.RouteLink( "Contacts", "Contact info" )</li>
                    </ul>
                    @Html.Partial( "_LoginPartial" )
                </nav>
        </div>

        <footer>
                <p>&copy; @DateTime.Now.Year - ZTU Students</p>
        </footer>
    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/bootstrap" )
    @RenderSection( "scripts", required: false )
</body>
</html>