<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nport | @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <nav class="menu">
        <ul>
            <li>
                @Html.ActionLink( "Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" } )
            </li>
            <li>
                @Html.ActionLink( "About us", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" } )
            </li>
        </ul>
    </nav>

    <footer>
            <p>&copy; @DateTime.Now.Year - Students</p>
    </footer>
</body>
</html>