@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="user">
            @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Exit</a></li>
        @{ 
            var s = User.Identity.GetUserId();
            var roles = NPORT.Database.XMLDatabase.Roles.GetList();
            var user = NPORT.Database.XMLDatabase.Users.Find( User.Identity.GetUserId() );
            NPORT.Models.Database.Role role1 = null;
            foreach ( var role in roles )
            {
                if (user.Role == role.Id)
                {
                    role1 = role;
                }

            }
        }
        @if (role1.Access_AddNews)
        {
            <li>@Html.ActionLink("Add news", "AddNews", "Home")</li>
        }       
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registration", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("LogIn", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
