@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="user user-hello">
            @Html.RouteLink("Hello, " + User.Identity.GetUserName() + "!" + "\nClick here for control panel", "User panel", routeValues: null, htmlAttributes: new { title = "User" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        @if (User.IsInRole("Admin") || User.IsInRole("Correspondent"))
        {
            <li>@Html.RouteLink("Add news", "News Add")</li>
        }       
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.RouteLink("Registration", "User Register", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.RouteLink("LogIn", "User Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
