@model NPORT.Models.ViewModels.News.AddNewsViewModel

@section Title { Add news }

<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({ selector:'.html-editor input[type="text"]' });</script>

@if (User.IsInRole("Admin") || User.IsInRole("Correspondent"))
{
<h2>AddNews</h2>
<form method="post" class="add-news">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <p class="error-list">
        @Html.ValidationSummary( true, "", new { @class = "text-danger" } )
    </p>

    <p class="title">
        @Html.LabelFor( m => m.Title )
        @Html.EditorFor( m => m.Title )
    </p>

    <p class="html-editor">
        @Html.LabelFor( m => m.ShortInfo )
        @Html.EditorFor( m => m.ShortInfo )
    </p>

    <p class="html-editor">
        @Html.LabelFor( m => m.Content )
        @Html.EditorFor( m => m.Content )
    </p>

    <p class="visible">
        @Html.LabelFor( m => m.Visible )
        @Html.EditorFor( m => m.Visible )
    </p>

    <input class="btn" type="submit" />
</form>
}
else
{
    <h1>You do not have access to add news</h1>
}

