@using Microsoft.AspNet.Identity
@model NPORT.Models.ViewModels.News.DetailedViewModel
@{
    ViewBag.Title = "Detailed Page";
}

<div class="news-detailed">
    @if (Model.News.Visible || Model.News.GetAuthorName() == User.Identity.Name || User.IsInRole( "Admin" ) || User.IsInRole( "Editor" ))
    {
        <h2 class="title">@Html.Raw( Model.News.Title )</h2>
        <p class="content">@Html.Raw( Model.News.Content )</p>
        <span class="author">&copy; @Model.News.GetAuthorName()</span>
        <span class="date">@Model.News.Date</span>
        <p class="detailed-btn" id="btn">
            @if (User.IsInRole( "Admin" ) || User.IsInRole( "Editor" ) || Model.News.AuthorId == User.Identity.GetUserId())
            {
                @Html.RouteLink( "Edit", "News Edit", new { newsId = Model.News.Id }, new { @class = "btn btn-edit" } )
                
                @Html.RouteLink( "Remove", "News Remove", new { newsId = Model.News.Id }, new { @class = "btn btn-remove" } )
            }
        </p>

        if(Request.IsAuthenticated)
        {
            <form class="comment" method="post">
                <textarea class="text" name="Text"></textarea>
                <input class="btn" type="submit" value="Add" />
            </form>
        }
        else
        {
            <p class="comment error">You must register for add comments!</p>
        }

        if (Model.CommentList.Count <= 0)
        {
            <p class="comment error">No comments!</p>
        }
        else
        {
            foreach (var comment in Model.CommentList)
            {
                <div class="comment">
                    <p class="author">@comment.GetAuthorName()</p>
                    <p class="text">@comment.Text</p>
                    <p class="date">@comment.Date</p>
                    @if (User.IsInRole("Admin") || User.Identity.GetUserId() == comment.AuthorId)
                    {                                
                        @Html.ActionLink("Remove", "RemoveComment", "News", new { id = comment.Id, url = Request.Url.ToString() }, new { @class = "btn btn-comment-remove" });
                    }
                </div>
            }
        }
    }
    else
    {
        <p class="error">You don't have permission to read this text!</p>
    }
</div>

