@model NPORT.Models.ViewModels.News.DetailedViewModel
@{
    Model.Title = "Detailed page";
}

<div class="news-detailed">
    @if (Model.CurrentNews.VisibleRange >= Model.CurrentUserRoleId)
    {
        <h2 class="title">@Html.Raw( Model.CurrentNews.Title )</h2>
        <p class="content">@Html.Raw( Model.CurrentNews.Content )</p>
        <span class="author">&copy; @Model.CurrentNewsAuthorName</span>
        <span class="date">@Model.CurrentNews.Date</span>
        <p class="detailed-btn" id="btn">
            @if (Model.CurrentUserAccess_EditNews || Model.CurrentNews.AuthorId == Model.CurrentUserId)
            {
                @Html.ActionLink( "Edit", "Edit", "News", new { NewsId = Model.CurrentNews.Id }, new { @class = "btn btn-edit" } )
            }
            @if (Model.CurrentUserAccess_RemoveNews || Model.CurrentNews.AuthorId == Model.CurrentUserId)
            {
                @Html.ActionLink( "Remove", "Remove", "News", new { NewsId = Model.CurrentNews.Id }, new { @class = "btn btn-remove" } )
            }
        </p>
        if(Request.IsAuthenticated)
        {
            <form class="comment" method="post">
                <textarea class="text" name="Text"></textarea>
                <input class="btn" type="submit" value="Add" />
            </form>
        }
        else
        {
            <p class="comment error">You must register for add comments!</p>
        }
            if (Model.CommentsList == null)
            {
                <p class="comment error">No comments!</p>
            }
            else
            {
                foreach (var comment in Model.CommentsList)
                {
                        <div class="comment">
                            <p class="author">@Model.UserListForComments[Model.CommentsList.IndexOf(comment)]</p>
                            <p class="text">@comment.Text</p>
                            <p class="date">@comment.Date</p>
                            @if (Request.IsAuthenticated && (Model.CurrentUserRoleId <= 1 || Model.CurrentUserId == comment.AuthorId))
                            {                                
                                @Html.ActionLink("Remove", "RemoveComment", "News", new { id = comment.Id, url = Request.Url.ToString() }, new { @class = "btn btn-comment-remove" });
                            }
                        </div>
                }
            }
            }
            else
            {
        <p class="error">You don't have permission to read this text!</p>
    }
</div>

