@using Microsoft.AspNet.Identity;
@model NPORT.Models.ViewModels.News.EditViewModel

@section Title { Edit }

<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({ selector:'.html-editor input[type="text"]' });</script>

@if (User.IsInRole( "Admin" ) || User.IsInRole( "Editor" ) || Model.AuthorId == User.Identity.GetUserId())
{
    <form method="post" class="edit-news">
        @Html.AntiForgeryToken()

        @Html.EditorFor( m => m.AuthorId )
        @Html.EditorFor( m => m.Date )
        @Html.EditorFor( m => m.Id )

        <p class="error-list">
            @Html.ValidationSummary( true, "", new { @class = "text-danger" } )
        </p>

        <p class="title">
            @Html.LabelFor( m => m.Title )
            @Html.EditorFor( m => m.Title )
        </p>

        <p class="html-editor">
            @Html.LabelFor( m => m.ShortInfo )
            @Html.EditorFor( m => m.ShortInfo )
        </p>

        <p class="html-editor">
            @Html.LabelFor( m => m.Content )
            @Html.EditorFor( m => m.Content )
        </p>

        <p class="visible">
            @Html.LabelFor( m => m.Visible )
            @Html.EditorFor( m => m.Visible )
        </p>

        <input class="btn" type="submit" />
    </form>
}
