@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Detailed Page";
    var news = NPORT.Database.JSONDatabase.NewsJson.Find(ViewBag.Id);
    var Author = NPORT.Database.XMLDatabase.Users.Find(news.AuthorId);
}

<div class="news1">
    @Html.Raw(news.Title)
    @Html.Raw(news.Content)
    @*<span class="author">&copy; @Author.Nickname</span>*@
    <span class="date">@news.Date</span>
    <p>
        @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
            {
            <br>
            @Html.ActionLink("Edit", "Edit", "Home", new { NewsId = news.Id }, new { @class = "btn btn-edit" })
            <br>
            @Html.ActionLink("Remove news", "Remove", "Home", new { NewsId = news.Id }, new { @class = "btn btn-edit" })
        }
        @if (User.IsInRole("Correspondent") && news.AuthorId == User.Identity.GetUserId())
        {
            <br>
            @Html.ActionLink("Edit", "Edit", "Home", new { NewsId = news.Id }, new { @class = "btn btn-edit" })
            <br>
            @Html.ActionLink("Remove news", "Remove", "Home", new { NewsId = news.Id }, new { @class = "btn btn-edit" })
        }
    </p>
</div>

