@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Detailed Page";
    var news = NPORT.Database.JSONDatabase.NewsJson.Find(ViewBag.Id);
    ApplicationUser Author = NPORT.Database.XMLDatabase.Users.Find(news.AuthorId);
    NPORT.Models.Database.Role Role = null;
    var user = NPORT.Database.XMLDatabase.Users.Find(User.Identity.GetUserId());
    var role = NPORT.Database.XMLDatabase.Roles.GetList();
    foreach (var rol in role)
    {
        if (user.Role == rol.Id)
        {
            Role = rol;
        }
    }
}

<div class="news1">
    <h2 class="title">@news.Title</h2>
    <p class="content">@news.Content</p>
    @*<span class="author">&copy; @Author.Nickname</span>*@
    <span class="date">@news.Date</span>
    <p>
        @if (Role.Access_EditNews || news.AuthorId == user.Id)
        {
            <br>
            @Html.ActionLink( "Редактировать", "Edit", "Home", new { NewsId = news.Id }, new { @class = "btn btn-edit" } )
        }
        @if (Role.Access_RemoveNews || news.AuthorId == user.Id)
        {
            <br>
            @Html.ActionLink("Удалить новость", "Remove", "Home", new { NewsId = news.Id }, new { @class = "btn btn-edit" })
        }
    </p>
</div>

