@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Detailed Page";
    var news = NPORT.Database.JSONDatabase.NewsJson.Find(ViewBag.Id);
    ApplicationUser Author = NPORT.Database.XMLDatabase.Users.Find(news.AuthorId);
    NPORT.Models.Database.Role Role = null;
    var user = NPORT.Database.XMLDatabase.Users.Find(User.Identity.GetUserId());
    var role = NPORT.Database.XMLDatabase.Roles.GetList();
    if (user == null)
    {
        Role = new NPORT.Models.Database.Role();
        Role.Access_AddNews = false;
        Role.Access_EditNews = false;
        Role.Access_RemoveNews = false;
        user = new ApplicationUser();
        user.Id = "Guest";
    }
    else
    {
        foreach (var rol in role)
        {
            if (user.Role == rol.Id)
            {
                Role = rol;
            }
        }
    }
}

<div class="news-detailed">
    <h2 class="title">@Html.Raw(news.Title)</h2>
    <p class="content">@Html.Raw(news.Content)</p>
    <span class="author">&copy; @Author.UserName</span>
    <span class="date">@news.Date</span>
    <p class="detailed-btn">
        @if (Role.Access_EditNews || news.AuthorId == user.Id)
        {
            @Html.ActionLink( "Edit", "Edit", "Home", new { NewsId = news.Id }, new { @class = "btn btn-edit" } )
        }
        @if (Role.Access_RemoveNews || news.AuthorId == user.Id)
        {
            @Html.ActionLink("Remove", "Remove", "Home", new { NewsId = news.Id }, new { @class = "btn btn-remove" })
        }
    </p>
</div>

