@using NPORT.Database.JSONDatabase;
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    var newsList = NewsJson.GetList();
}

<h1>News</h1>
@if (newsList != null)
{
    foreach (var news in newsList)
    {
        var Author = NPORT.Database.XMLDatabase.Users.Find(news.AuthorId);
    <div class="news">
        <h2 class="title">@Html.Raw(news.Title)</h2>
        <p class="content">@Html.Raw( news.Content )</p>
        <p class="details-link">
            @Html.ActionLink("Детально", "Detailed", "Home", new { NewsId = news.Id }, new { @class = "btn" })<br />
           
        </p>
        <span class="author">&copy;
        @if (Author != null)
        {
            @Author.UserName
        }
        </span>
        <span class="date">@news.Date </span>
    </div>
    }
}