@using NPORT.Database.JSONDatabase;
@using System.Text;
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    var newsList = NewsJson.GetList();
}

<h1>News</h1>
@if (newsList != null)
{
    foreach (var news in newsList)
    {
        var Author = NPORT.Database.XMLDatabase.Users.Find(news.AuthorId);
    <div class="news">      
        @Html.Raw(news.Title)
        @Html.Raw(news.Content)
    @*@{
            string s = " <div class=\"news\">";
            s += news.Title;
            s += "</div>";
            Response.Write( s );
        }*@
    <p>
        @Html.ActionLink("Detaile", "Detailed", "Home", new { NewsId = news.Id }, new { @class = "btn" })<br />

    </p>
    <span class="author">
        &copy;
        @if (Author != null)
        {
            @Author.Nickname
        }
    </span>
    <span class="date">@news.Date </span>
</div>
    }
}