@using NPORT.Database.JSONDatabase;
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "News";
    var newsList = NewsJson.GetList();
    var user = NPORT.Database.XMLDatabase.Users.Find(User.Identity.GetUserId());
    if (user == null)
    {
        user = new ApplicationUser();
    }
    int i = 0;
    string c;
}

<h1>News</h1>
@if (newsList != null)
{
    foreach (var news in newsList)
    {
        i++;
        var Author = NPORT.Database.XMLDatabase.Users.Find(news.AuthorId);
        if (true)
        {
            if (i % 2 == 1)
            { c = "left"; }
            else
            { c = "right"; }
            <div class="news @c">
                <h2 class="title">@Html.Raw( news.Title )</h2>
                <p class="content">@Html.Raw( news.ShortInfo )</p>
                <p class="details-link">
                    @Html.RouteLink( "Details", "News Details", new { NewsId = news.Id }, new { @class = "btn" } )<br />
           
                </p>
                <span class="author">&copy;
                @if (Author != null)
                {
                    @Author.UserName
                }
                </span>
                <span class="date">@news.Date </span>
            </div>
        }
    }
}