@model NPORT.Models.ViewModels.Home.IndexViewModel
@{ ViewBag.Title = "News"; }

<h1>News</h1>
@if (Model.NewsList != null)
{
    foreach (var news in Model.NewsList)
    {
        var Author = NPORT.Database.XMLDatabase.Users.Find(news.AuthorId);
        if (Model.CurrentUserRoleId <= news.VisibleRange)
        {
            if (Model.newsClass == "right")
            { Model.newsClass = "left"; }
            else
            { Model.newsClass = "right"; }
            <div class="news @Model.newsClass">
                <h2 class="title">@Html.Raw( news.Title )</h2>
                <p class="content">@Html.Raw( news.ShortInfo )</p>
                <p class="details-link">
                    @Html.ActionLink( "Details", "Detailed", "News", new { NewsId = news.Id }, new { @class = "btn" } )<br />
           
                </p>
                <span class="author">&copy;
                @if (Author != null)
                {
                    @Author.UserName
                }
                </span>
                <span class="date">@news.Date </span>
            </div>
        }
    }
}