@using NPORT.Models.ViewModels.User
@model DetailsViewModel

@{ ViewBag.Title = "Details"; }
<h2>@Model.UserInBase.UserName</h2>

<table class="user-info">
    <tr>
        <td>ID</td>
        <td>@Model.UserInBase.Id</td>
    </tr>
    @if (Model.CurrentUserRole <= 1)
    {
    <tr>
        <td>Phone</td>
        <td>@Model.UserInBase.Phone</td>
    </tr>
    }
    <tr>
        <td>Role</td>
        @if (Model.CurrentUserRole > 1)
        {
            <td>@Model.UserInBaseRole</td>
        }
        else
        {
            <td>
                <form method="post">
                    <input type="text" name="Id" value="@Model.UserInBase.Id" hidden="hidden"/>
                    <select name="role">
                        @foreach (var role in Model.Roles)
                        {
                            if (role.Id == Model.UserInBase.Role)
                            {
                                <option selected value="@role.Id">@role.Name</option>
                            }
                            else
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                        }
                    </select>
                    <input type="submit" value="Save"/>
                </form>
            </td>
        }
    </tr>
    @if (Model.CurrentUserRole <= 1)
    {
    <tr>
       <td> @Html.ActionLink( "Remove User", "Remove", "User", new { id = Model.UserInBase.Id }, new { @class = "btn" } ) </td>
    </tr>
    }
</table>

