@model NPORT.Models.ViewModels.User.DetailsViewModel

@section Title { Details }

<h2>@Model.UserInfo.UserName</h2>

<table class="user-info">
    <tr>
        <td>ID</td>
        <td>@Model.UserInfo.Id</td>
    </tr>
    @if (User.IsInRole("Admin"))
    {
    <tr>
        <td>Phone</td>
        <td>@Model.UserInfo.Phone</td>
    </tr>
    }
    <tr>
        <td>Role</td>
        @if (!User.IsInRole( "Admin" ))
        {
            <td>@Model.UserInfo.GetRoleName()</td>
        }
        else
        {
            <td>
                <form method="post">
                    <input type="text" name="Id" value="@Model.UserInfo.Id" hidden="hidden"/>
                    <select name="role">
                        @foreach (var role in Model.RoleList)
                        {
                            if (role.Id == Model.UserInfo.RoleId)
                            {
                                <option selected value="@role.Id">@role.Name</option>
                            }
                            else
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                        }
                    </select>
                    <input type="submit" value="Save"/>
                </form>
            </td>
        }
    </tr>
    @if (User.IsInRole( "Admin" ))
    {
    <tr>
       <td> @Html.RouteLink( "Remove User", "User remove", new { id = Model.UserInfo.Id }, new { @class = "btn" } ) </td>
    </tr>
    }
</table>

