@using Microsoft.AspNet.Identity
@model ApplicationUser
@{
    ViewBag.Title = "Details";
    var user = NPORT.Database.XMLDatabase.Users.Find(User.Identity.GetUserId());
    var roles = NPORT.Database.XMLDatabase.Roles.GetList();
}

<h2>@Model.UserName</h2>

<table class="user-info">
    <tr>
        <td>ID</td>
        <td>@Model.Id</td>
    </tr>
    @if (user.Role <= 1)
    {
    <tr>
        <td>Phone</td>
        <td>@Model.Phone</td>
    </tr>
    }
    <tr>
        <td>Role</td>
        @if (user.Role > 1)
        {
            <td>@Model.GetRole()</td>
        }
        else
        {
            <td>
                <form method="post">
                    <input type="text" name="Id" value="@Model.Id" hidden="hidden"/>
                    <select name="role">
                        @foreach (var role in roles)
                        {
                            if (role.Id == Model.Role)
                            {
                                <option selected value="@role.Id">@role.Name</option>
                            }
                            else
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                        }
                    </select>
                    <input type="submit" value="Save"/>
                </form>
            </td>
        }
    </tr>
    @if (user.Role <= 1)
    {
    <tr>
       <td> @Html.RouteLink( "Remove User", "User remove", new { id = Model.Id }, new { @class = "btn" } ) </td>
    </tr>
    }
</table>

